* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001320;
  overflow-y: hidden;
}

/* ----------------------------------------------------------------------- */

.items::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

.items::-webkit-scrollbar-track {
  background: rgb(10, 118, 79); /* color of the tracking area */
}

.items::-webkit-scrollbar-thumb {
  background-color: rgb(3, 52, 45); /* color of the scroll thumb */
}

.cart__items::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.cart__items::-webkit-scrollbar-track {
  background: rgb(10, 118, 79); /* color of the tracking area */
}

.cart__items::-webkit-scrollbar-thumb {
  background-color: rgb(3, 52, 45); /* color of the scroll thumb */
}

/* ---------------------------------------------------------------- */

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  align-items: center;
}

.container-title {
  width: 20%;
  cursor: pointer;
}

.search {
  display: flex;
  width: 60%;
  padding: 0px 5%;
}

.inputTxt {
  width: 93%;
  height: 30px;
  padding: 10px;
}

.searchBtn {
  width: 40px;
}

.title {
  display: flex;
  color: rgb(221, 221, 221);
  font-size: 5vh;
  padding-left: 30px;
}

.inputTxt {
  display: flex;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 3.5vh;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5%;
  padding-bottom: 100px;
  border-radius: 20px;
  height: 92vh;
  overflow-y: scroll;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid #001320;
  border-radius: 15px;
  box-sizing: border-box;
  transition: 0.1s;
  transition-delay: 0.3s;
}

.item:hover {
  filter: brightness(85%);
  transition: 0.2s;
}

.item:active {
  filter: brightness(100%);
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item__title {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  height: 60px;
  user-select: none;
}

.item .item__image {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.item .item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item__price {
  letter-spacing: 0.12em;
  user-select: none;
}

.item__add {
  border-radius: 0px 0px 10px 10px;
}

.item__add:hover {
  font-weight: 800;
}

.item .item__add {
  background-color: rgb(3, 52, 45);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}

.cart {
  margin-top: 0.5%;
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: #001320;
  height: 100vh;
}

.cart .cart__items {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  padding: 10px 15px;
  margin: 0px auto;
}

.empty-cart {
  color: white;
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid white;
  background-color: orangered;
  border-radius: 10px;
  cursor: pointer;
}

.empty-cart:hover {
  background-color: #ff703c;
}

.empty-cart:active {
  background-color: orangered;
  font-weight: 900;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: green;
}

.cart__item {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  line-height: 1.5em;
  flex-direction: row-reverse;
  background-color: white;
  margin-top: 5px;
  padding-left: 2%;
  height: 100px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2vh;
}

.cart__item:hover {
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.cart__item:active {
  width: 20%;
  transition: 0.5s;
  font-size: 0px;
}

.cart__image {
  margin-right: 3%;
  pointer-events: none;
}

/* ---------------------------------------------------------------------- */
.on {
  position: fixed;
  left: 30%;
  top: 44%;
  border: 6px solid #f3f3f3;
  border-top: 6px solid rgb(3, 52, 45);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  left: 31%;
  top: 49%;
  color: white;
}
/* ----------------------------------------------------------------------------- */

.categories {
  display: grid;
  width: 92%;
  height: 25%;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 5px;
  margin: 30px 8px 50px 8px;
}

.categories::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

.categories::-webkit-scrollbar-track {
  background: #0a764f; /* color of the tracking area */
}

.categories::-webkit-scrollbar-thumb {
  background-color: rgb(3, 52, 45); /* color of the scroll thumb */
}

.categ {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #0a764f;
  color: white;
  font-size: 0.8em;
}
.icons {
  filter: invert(100%);
  width: 2vw;
  /* height: 50%; */
  margin: 5%;
  user-select: none;
  pointer-events: none;
}

.categ:hover {
  opacity: 90%;
  cursor: pointer;
}

.categ:active {
  font-size: .95em;
  font-weight: 900;
}

.categ:active .icons {
  width: 35%;
  height: 55%;
}
